.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header img {
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#codigo {
  max-width: 100px;
}

#noCodigo {
  margin-top: 20px;
}

#noCodigo .form-control {
  justify-content: space-between;
}

#noCodigo .form-control input {
  width: 200px;
}

#noCodigo .form-control textarea {
  width: 220px;
  margin-right: 8px;
  resize: none;
}

.center-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

select {
  width: 220px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
