.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header img {
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container form div {
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  min-width: 200px;
}

.input {
  min-width: 180px;
}

section {
  margin-top: 10px;
}

#codigo {
  max-width: 100px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
